{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ section_title }}</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>{{ section_title }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                        <h5>Eliminar Infracción</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
					<div class="ibox-content">
	               	<form action="" method="post">{% csrf_token %}
					    <ul>Esta seguro que desea eliminar la infracción: {{object}}</ul>
					    <button type="submit" class="btn btn-danger"> Si, Eliminar</button>
					    <a href="{% url 'infraccion:listar'%}">
					    <input class="btn btn-primary"  type="button" value="Cancelar"></a>
					</form>
                </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
{% endblock %}