{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Empleados</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Listado de Empleados</strong>
            </li>
        </ol>
    </div>
    <h2 class="pull-right"><strong>Gestión de Personal</strong></h2>   
</div>
<div class="row">
    <div class="ibox-content">
        <div id="section_content" class="row">
        {% include 'persona/includes/tabla.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}

<!-- Principales scripts -->
<script src="{% static 'inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'inspinia/js/inbox.demo.min.js' %}"></script>
<script src="{% static 'inspinia/js/jquery.form.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            initComplete: function () {
                var column = this.api().column(2);
                var select = $('#control').on( 'change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                        $(this).val()
                    );
                    column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                } );
            column.data().unique().sort().each( function ( d, j ) {
                select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    },
            "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }
            },
            pageLength: 25,
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#3366FF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#3366FF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:green;"></i>', titleAttr: 'Excel', title: 'Personal'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:red;"></i>', titleAttr: 'PDF', title: 'Personal'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#37474F";></i>', titleAttr: 'Imprimir', title: 'Personal',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]
        });
    });
</script>

{% endblock %}